@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); /* Buttons */

.sign-consent {
	background:#fff;
	padding:16px;
	box-shadow: 0px -28px 75px rgba(136, 136, 137, 0.2);
}
.desktop {min-height:100vh;}

.activate .modal-full {
    min-width: 40%;
    margin-left: 80;
}


.activate .modal-full .modal-content{
    min-height: 100vh;

}
.full-app {
	background:#fff;
	height:100%;
	overflow-y: scroll;
}
.desktop h2 {text-decoration: none;}
.qr-code {width:100%;max-width:300px;margin:0 auto;}
.btn-primary, .btn {
	display: flex;
	flex-direction: column;

	min-width: 56px;
	border-color:#ec1136;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 29px;
	/* identical to box height */
	letter-spacing: 0.036703px;
	text-transform: uppercase;

}
.btn-primary:hover, .btn-outline-primary:hover, .primary-color:hover {
		background: #F2205C;
			border-color:#F2205C ;
}
.btn, .genobank {
		justify-content: center;
		align-items: center;
}

/* Display */
.sidenav, .no-style {list-style: none;}
.btn-outline-primary {display:flex;}
.step0, .step1, .step2, .step3, .step4, .consent {
	display: none;
}
.scramble li.spot-open {
	display:flex;
	flex-wrap: wrap;
}
/* Border */
.blog-post {border-bottom:1px solid #dee6ec;}
footer {border-top:1px solid #dee6ec;}
.btn-primary,
.btn-outline-primary {
	border-radius: 100px;
}
.teampix {
	border-radius: 100%;
}
.btn-outline-primary {
	border-color: #0d0d47;
}
.btn-outline-primary {
	font-size: 18px;
}
.blue button.btn-outline-primary {
	border-color: #fff;
}
.team {
	background: #f5f9fb;
}
.teampix {
	max-width: 150px ;

}
.rescan {
	max-width:380px;
}
.passphrase.empty, #phrase {
	width:100%;
}
.passphrase.empty li {
	min-width:25%;
}
ol.empty {padding:0 16px 0 32px;}
.blue .btn-outline-primary {
	border:1px solid #fff;
} 
.first_empty {background:yellow !important;}
.btn-outline-primary {
	border:1px solid #0C1044;
} 
/* Bg */

/* Font family */
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
	font-family: Roboto, sans-serif;
}

a.nav-link,
.btn-sms {
	font-size: 13px;}
.xxs{
	font-size: 12px;
	font-weight: 400;
}
p.subtitle, .genobank h3 {
	font-size: 20px;
}

p,  .xs {font-size:16px;}

.sidenav li {

	margin:8px 0;

}
/* Font Weight */
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
a {
	font-weight: 600;
}

.insidepage h2 {font-size:1.6rem;}
footer .navbar-nav a, .sidenav li a{font-weight: 500;}
/* Font Colors */

.btn,
a.nav-link {
	text-transform: uppercase;
}
/* Font Colors */

.btn-outline-primary, .btn-primary.teal,
a, 
.navbar-light .navbar-nav .nav-link, .btn-primary.white {
	color: #0d0d47;
}
p, footer .navbar-nav a, footer a, li, .sidenav li a, .signature  {
	color: #848f91;
}

.blue p,
.blue a, fa-info-circle,
.blue h1,
.blue button.btn-outline-primary, .dark-blue p, .dark-blue h1, .blue h2 {
	color: #ffffff;
}
/* sahdow */
.btn-shadow {box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);}
/* Backgorund */
.teal,
.btn-primary.teal {
	background: #5de7f8;
}

.dark-blue {
 	background:#0b1B47;
}
.blue,
.primary-color, .btn-primary{
	background: #F2205C;
}

.btn-primary.white{
	background: #ffffff;
}
/* Padding */
.btn-primary,
.btn-outline-primary, .btn{
	padding: 16px 30px;
}
.navbar, .no-gutters {
	padding:0;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 12px 4px;
}
.btn-sm {
	padding: 6px 16px;
}



/* Margins */
.f-mt-lg-n5 {
	margin-top: -280px;
	position: relative;
	z-index: 500;
	margin-bottom:-80px;
}
.no-margin {
	margin:0;
}
.img-shadow {/* Bg */

background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.saliva {
	margin-bottom:-100px;

}


.mt-md-n9 {
	margin-top:-100px;
}
/* Height */
body.profile .inside-header	 {
	min-height:300px;
}
.thumbnail {
	min-height: 196.73px;
	background:#fff;
	display:flex;
	align-items: center;
	justify-content: center;
}

/* Width */
.lottie-phone {
	width:100%;
	max-width: 126px;
	margin:0 auto;
	z-index:10;
	position:absolute;
	top:8px;
	left:0;
}
.lottie-bar, .lottie-bar2 {
	width:100%;
	max-width: 154px;
	margin:0 auto;
	z-index:0;
	position:relative;
	display:block;

}

.lottie-success{
	width:100%;
	max-width: 126px;
	margin:0 auto;
	z-index:10;
	position:absolute;
	top:14px;
	left:15px;
}
.logo {
	max-width: 200px;
}
.saliva {
	max-width: 302px;
}
.img-fluid {
	width: 100%;
}
footer .navbar-nav{flex-direction: row;}

.navbar-nav li {margin: 0 8px;}
/* Position */
section.angle {
	position: relative;
}
section {
	z-index: 500;
}
.btn {
	z-index: 600;
	position:relative;
}
/* angle */
section.angle:before {
	content: '';

	border-style: solid;
	border-width: 200px 2200px 0 0;
	border-color: #ffffff transparent transparent transparent;
	width: 100%;
	max-width: 100%;
	display: block;
	height: 0;
	position: absolute;
	top: -200px;
	right: 0;
	z-index: 10;
	margin: 200px 0;
}

section.angle:after {
	content: '';

	border-style: solid;
	border-width: 200px 2200px 0 0;
	border-color: transparent #ffffff transparent transparent;
	width: 100%;
	max-width: 100%;
	display: block;
	height: 0;
	position: absolute;
	bottom: -300px;
	right: 0;
	z-index: 10;
	margin: 0 0 300px;
}

/* input */
.js-signature canvas {width:100% !important;height:64px !important;}

input, textarea{
	/* inputfield */
background: #FFFFFF;
box-shadow: 1px 1px 1px rgba(241, 241, 241, 0.5), inset 0px 2px 5px rgba(172, 172, 172, 0.5);
border-radius: 5px;
letter-spacing: -0.46px;
border: 1px solid #f3f3f3;
box-sizing: border-box;
border-radius: 5px;
color:#848F91;
min-height: 48px;
padding:12px 20px;
color: #A1B2C0;


}

input[type=checkbox] {
	appearance: checkbox !important;
	box-shadow: none;
border-radius: 0;
letter-spacing: 0;
border: 0px;
box-sizing: border-box;
border-radius: 0px;
color:#848F91;
margin:-12px 6px 0px 2px;
}
.agree {
	color:#848F91;
}
.link {z-index:900;position:relative;}
.play-button {
	border-radius: 100%;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 12px 20px;

	align-items: center;

	font-size: 16px;
	font-weight: 700;
	display: block;
    position: absolute;
    z-index:600;
	top: -20%;
    left: 33%;
	text-decoration: none !important;
}
a.btn-subtext.btn.btn-primary.white.btn-shadow {
    line-height: 24px;
    padding: 8px 0;
}
.play {
	background-image: linear-gradient(-130deg, #f49231 0%, #f95858 39%, #f92e74 100%);
	border-radius: 100%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	margin: 0 11px;
}
.play i.fas.fa-play {
	margin-left: 2px;
}
.play {
	cursor: pointer;
	box-shadow: 0 0 0 rgba(244, 133, 31, 0.4);
	animation: pulse 2s infinite;
}
.pulse:hover {
	animation: none;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(244, 133, 31, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(244, 133, 31, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(244, 133, 31, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(244, 133, 31, 0.4);
		box-shadow: 0 0 0 0 rgba(244, 133, 31, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(244, 133, 31, 0);
		box-shadow: 0 0 0 10px rgba(244, 133, 31, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(244, 133, 31, 0);
		box-shadow: 0 0 0 0 rgba(244, 133, 31, 0);
	}
}
.cardbox {
margin:0 auto;
max-width: 800px;
background: #FFFFFF;
box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
 .category {background:#EFF3FB;border-radius: 6px;
	padding: 8px 8px;}

	.step2 .category {
	padding: 8px 8px;}

.step2 .passphrase li {
	margin:4px 17px;
}
.empty .category {
	padding:4px 2px;
}

.spacer {
	min-height:200px;
}

.newsletter, .consent {

/* Bg */
background: #FFFFFF;
box-shadow: 0px -58px 75px rgba(136, 136, 137, 0.1);

}

	h2 {font-size:22px;}
	h4 {font-size:18px; }

	.blue h4 {color:#fff;}
	.camera {max-width:50px;}
.pencil {max-width:50px;}
	.full-height {
		min-height:100vh;
	}
	.h-74 {
		min-height: 74vh;
	}
		.h-100 {
		min-height: 100vh;
	}

	.passphrase li{margin:8px 12px;}

	ul.passphrase {list-style-type: none;padding:0;}

	ul.passphrase li{margin:8px 2px;}

	.passphrase.empty li{border-bottom:1px solid #9DAFBD;min-width:24%;min-height:41px;}
	.passphrase.empty li .category{background:none;}
	a#txLink  {text-decoration: none;}
	a#txLink  .tansaction {text-decoration: underline;color:#6DC5E7;max-width: 340px;overflow-x: scroll;margin:0 auto;}

	a#txLink h3{color:#6DC5E7;}
	.btn-fixwrap {overflow: hidden;}
	.btn-fixbottom {position:fixed;bottom:0;z-index:100;    width: 100%;
    left: 0;}
@media screen and (min-width: 1200px) {
	.blue {
	padding: 130px 0 300px;
}

}
@media screen and (max-width: 1200px) {

	.home section.blue {min-height:700px;padding-top:120px;}
	.f-mt-lg-n5 {
	margin-top: -290px;
	position: relative;
	z-index: 500;
	margin-bottom:-130px;
}
}
@media screen and (max-width: 767px) {

	footer .navbar-nav, .copyright .d-flex , .newsletter .d-flex{
		flex-direction: column;
		text-align: center;
		
	}

	.sidenav {display:none;}

	.mt-md-n9 {margin-top:0;}
}
@media screen and (max-width: 575px) {

}

@media screen and (max-width: 375px) {

	a.btn {font-size:20px;font-size: 16px;
	padding: 12px 6px;}
	h4 {font-size:14px;}
}

@media screen and (max-width: 330px) {

	h3 { font-size:120%;}
}